.modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(14px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  z-index: 100;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 16px;

  transform: scale(0.96);
  opacity: 0;

  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
}

.modal.show img {
  transform: scale(1);
  opacity: 1;
}
