@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Code";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
#root {
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  color: rgb(25, 21, 25);
  animation: fadeInBody 2s ease forwards;
}

@keyframes fadeInBody {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

.app-root {
  position: relative;
  min-height: 100%;
}

.page {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  animation: fadeIn .6s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  min-height: 100%;
  height: auto;

  background: url("./assets/img/fondo1.JPG") center / cover no-repeat;

  filter: blur(6px) brightness(0.95);
  transform: scale(1.08);

  z-index: -1;
  pointer-events: none;
}

a {
  color: rgb(25, 21, 25);
}