@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Code";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: url("./assets/img/fondo1.JPG") center / cover no-repeat;
  color: rgb(25, 21, 25);
  background-color: black;
}

.app {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.blur-bg {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: -1;
  pointer-events: none;
}

a {
  color: rgb(25, 21, 25);
}